* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
    background: #b3aaaa;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}

.clearfix {
    content: "";
    display: block;
    clear: both;
}

.commercial p {
    margin: 1.8rem 0;
}

.wrapper {
    width: 40%;
    margin: 3rem auto;
    background: #ffffff;
    width: 640px;
}

.site-header {
    width: 100%;
    background: url('../images/header_bg.gif') no-repeat;
    background-size: contain;
    min-height: 150px;
}

main {
    padding: 0 4rem;
}

.greeting {
    text-align: center;
}

.offers {
    float: left;
}

.block-48p {
    float: left;
    width: 48%;
}

.block-48p img {
    width: 100%;
    margin-bottom: 4%;
}

.block-30p {
    float: left;
    width: 30.666%;
}

.block-30p img {
    width: 100%;
    margin-bottom: 1%;
}

.left {
    margin: 0 2% 2% 0;
}

.right {
    margin: 0 0 2% 2%;
}

.middle {
    margin: 0 2% 2% 2%
}

.btn-buy {
    color: #fff;
    font-weight: bold;
    text-align: center;
    line-height: 40px;
    background: #d65c4b;
    border-radius: 8px;
    margin-bottom: 2rem;
}

footer {
    margin-top: -1rem;
}

footer .btn-buy {
    margin-top: 2.3rem;
}

.unsubscribe {
    padding-top: 2rem;
    font-weight: bold;
    text-align: center;
    font-size: 0.8rem;
    background: #b3aaaa;
    color: #fff
}

.unsubscribe a {
    color: #fff
}